/*   Theme default css */
@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');
/* ======font family=========
font-family: "Varela", serif;
*/

:root{--white: #fff;--black: #000;--thmColor: #B77E2B;--red: #A80000;--borderColor: #E4E4E4;--borderColorD8: #D8D8D8;--f18 : 18px;--f20 : 20px;--f22 : 22px;--f24 : 24px;--f28 : 28px;--f30 : 30px;--f32 : 32px;--f36 : 36px;--f40 : 40px;--f48 : 48px;}


body {
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  padding: 0;
  color: var(--black);
  text-transform: uppercase;
  font-family: "Varela", serif;
}

img{
  max-width: 100%;
}
  
button {
  cursor: pointer;
  border: none;
  padding: 0;
  background: none;
  text-transform: uppercase;
}

a:focus,
button:focus {
  text-decoration: none;
  outline: none; }

a:focus,
a:hover {
  text-decoration: none; }

a,
button {
  color: inherit;
  outline: medium none; 
  text-decoration: none;
}

button:focus, input:focus, input:focus, textarea, textarea:focus {
  outline: 0; }

 
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0px;
  font-weight: 400;
 }

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit; }

h1 {
  font-size: 40px; }

h2 {
  font-size: var(--f36);
  }

h3 {
  font-size: var(--f28);
  }

h4 {
  font-size: var(--f24);
  }

h5 {
  font-size: var(--f18);
  }

h6 {
  font-size: 16px; }

ul {
  margin: 0px;
  padding: 0px; }

li {
  list-style: none; }

.pb_150{padding-bottom: 150px;}
.pb_100{padding-bottom: 100px;}
.pb_50{padding-bottom: 50px;}
.pt_150{padding-top: 150px;}
.pt_100{padding-top: 100px;}
.pt_50{padding-top: 50px;}

.mb_150{margin-bottom: 150px;}
.mb_100{margin-bottom: 100px;}
.mb_50{margin-bottom: 50px;}
.mt_150{margin-top: 150px;}
.mt_100{margin-top: 100px;}
.mt_50{margin-top: 50px;}
 
.thm_btn{
    background: var(--white);
    color: var(--black);
    font-size: 15px;
    padding: var(--f18) var(--f32);
    display: inline-block;
    border: 2px solid var(--black);
    transition: all .3s;
    text-align: center;
}

.inActive {
    opacity: .3;
}

.thm_btn.white {
    border-color: var(--white);
    color: var(--white);
}

.thm_btn:hover {
    background: var(--black);
    color: var(--white);
}

/* __________________swiper Slider start______________________ */
.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-pagination span{
    width: 15px;
    height: 15px;
    background: #D9D9D9;
    margin: 0 6px !important;
}
  .swiper-pagination .swiper-pagination-bullet-active{
    background: var(--white);
}
/* default-css END 
================================== */
 


.header-area {
  padding: 30px 0;
  width: 100%;
  z-index: 99;
  text-transform: uppercase;
}

.header__left {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header__left a ,.header__right a {
    font-size: var(--f20);
    display: flex;
    align-items: center;
    gap: 12px;
}



.container.lg {max-width: 1650px;}
.header-area.v2 {backdrop-filter: blur(15px);position: absolute;color: var(--bs-white);}
.container {max-width: 1460px;}

.header__right {display: flex;align-items: center;justify-content: end;gap: 40px;}
.logo-area {text-align: center;}

.page__nav {margin-top: var(--f40);}

.page__nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    text-transform: uppercase;
}

.page__nav ul li a {}

.page__nav ul li a.active {
    border-bottom: 1px solid;
}


/* Header section END */


/* fixed__nav section END */
.fixed__nav{
    position: fixed;
    bottom: 0;
    background: #F5F5F5;
    width: 100%;
    padding: 16px 0;
    display: none;
}

.fixed__nav nav ul {
    display: flex;
    justify-content: space-between;
}

.fixed__nav nav ul a {
    font-size: 13px;
    text-transform: capitalize;
    color: #828697;
}

.fixed__nav nav ul a.active {
    color: var(--thmColor);
}

.fixed__nav nav ul a.active img {
    filter: invert(56%) sepia(26%) saturate(1097%) hue-rotate(356deg) brightness(87%) contrast(91%);
}

.fixed__nav nav ul a i {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}
/* fixed__nav section END */


/*============ Area Start =============*/
.big__banner {margin-bottom: var(--f48);}
/*============ Area End =============*/


/*============brand Area Start =============*/

.brand__logos ul li a {
    display: block;
    transition: all .3s;
    opacity: .5;
}

.brand__logos ul li a:hover {
    opacity: 1;
}

.brand__logos ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    justify-content: space-between;
}
/*============brand Area End =============*/


/*============shoes Area Start =============*/

.shoes-area {padding: clamp(3.125rem, 3.125vw + 2.5rem, 6.25rem) 0;}

.shoes__wrp {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.shoes__wrp .shoes__blk {
    flex-basis: 45%;
}
.shoes__title {
    display: flex;
    justify-content: center;
    margin-bottom: var(--f36);
    align-items: center;
}

.shoes__title a {
    display: none;
    font-size: 14px;
    color: #6C6C70;
    border-bottom: 1px solid;
}

.shoes__list ul {
    display: flex;
    align-items: center;
    gap: var(--f40);
    justify-content: center;
}

.shoes__list ul li {
    flex: 0 0 18%;
}
.shoes__blk h4 {margin-bottom: 16px;}

.shoes__blk h5 {
    margin-bottom: 10px;
    /* font-size: 16px; */
}

.shoes__blk > i {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 165px;
    margin-bottom: var(--f30);
    overflow: hidden;
}

.shoes__blk:hover > i img {
    scale: 1.05;
}

.shoes__blk > i img {
    transition: all .3s;
}
.shoeBlk__price {display: flex;align-items: center;justify-content: space-between;}

.shoeBlk__price span {
    color: var(--thmColor);
}

.shoes__blk.lg .shoeBlk__price span {
    font-size: var(--f24);
}
.color-s {display: flex;align-items: center;gap: 4px;}

.color-s button {
    width: 25px;
    height: 25px;
    border: 2px solid var(--borderColor);
    border-radius: 50%;
    transition: all .3s;
}

.color-s button:hover {
    border-color: var(--thmColor);
}

.shoes__blk.lg .color-s button {
    width: 40px;
    height: 40px;
}
.c-white {background: var(--white);}
.c-black {background: var(--black);}
.c-red {background: var(--red);}
.shoeBlk__ctg {display: flex;align-items: center;justify-content: space-between;margin-top: 16px;display: none;}

.shoeBlk__ctg span {
    color: #6C6C70;
    font-size: 12px;
}
.shoeBlk__opt {margin-bottom: var(--f40);}


.shoeBlk__opt ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px 50px;
    gap: var(--f36);
    width: max-content;
    margin: auto;
    box-shadow: 0 0 20px #0003;
}

.shoeBlk__opt ul a {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s;
}

.shoeBlk__opt ul a:hover {
    filter: invert(53%) sepia(90%) saturate(356%) hue-rotate(356deg) brightness(81%) contrast(93%);
}
/*============shoes Area End =============*/


/*============product Area Start =============*/


.product__blk {position: relative;margin-bottom: 20px;height: clamp(25rem, 15.924vw + 21.517rem, 40.625rem);overflow: hidden;}

.product__blk>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .3s;
}

.product__blk:hover>img {
    scale: 1.1;
}
.product__blk .content {position: absolute;top: 50%;left: 50%;text-align: center;transform: translate(-50%, -50%);color: var(--white);}

.product__blk .content p {
    margin: 0;
}

.product__blk .content h2 {
    margin-bottom: var(--f20);
}


.product__grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 60px 40px;
}
.Sort__dropdown{
    margin-left: auto;
    width: max-content;
}

.Filter__btn {
    display: flex;
    align-items: center;
    gap: 10px;
}

.product__title p {
    text-transform: capitalize;
}
/*============product Area End =============*/


/*============explore Area Start =============*/

.explore__img {padding-right: 30px;}

.explore__img.right {
    padding-right: 0;
    padding-left: 30px;
}
.explore__content {text-align: center;}

.explore__content p {
    margin-bottom: var(--f30);
}

.explore__content h2 {margin-bottom: var(--f30);}

.explore__content a {
    font-size: var(--f20);
}

/*============explore Area End =============*/


/*============Hero Area Start =============*/
.hero-area{}
.sandalSlider__blk{
    position: relative;
}

.sandalSlider__blk p {
    font-size: 14px;
    margin: 25px 0 20px;
}

.sandalSlider__blk .content {
    position: absolute;
    top: 50%;
    left: 50%;
    color: var(--white);
    transform: translate(-50%, -50%);
    text-align: center;
}
/*============hero Area End =============*/


/*============ filter__sidebar  Start ============= Men-Products Page*/
.filter__sidebar,.sideBar__panel {position: fixed;top: 0;left: -501px;height: 100vh;background: var(--white);box-shadow: 0 0 10px;width: 100%;max-width: 500px;padding: 50px;z-index: 9;transition: all .3s ease-in-out;}

.filter__sidebar.show {
    left: 0;
}
.sidebar__top {display: flex;align-items: center;justify-content: space-between;margin-bottom: var(--f40);}

.filter__sidebar__top h3 {margin: 0;font-weight: 600;}
.filter__sidebar__content {overflow: auto;height: 85vh;}

.filter__sidebar__content .accordion-button {border: none;text-transform: uppercase;font-size: var(--f20);padding-left: 0;padding-right: 0;}
.accordion-collapse {border: none;}

.accordion-body {padding-left: 0;padding-right: 0;}
.filter__opt {display: flex;flex-wrap: wrap;gap: 20px 0;}
.filter__opt .form-check {flex-basis: 50%;display: flex;align-items: center;gap: 14px;font-size: var(--f18);}

.form-check input {
    width: 30px;
    height: 30px;
    border: none;
    background: #F2F2F2;
    border-radius: 0 !important;
    flex-shrink: 0;
}

.c-blue {background: #0031E2;}

.c-grey {background: #B6B6B6;}
.Size__list,.color__list {border: 1px solid #F2F2F2;}

.Size__list ul li button,.color__list ul li button {
    font-size: var(--f18);
    padding: 10px 30px;
    display: block;
    width: 100%;
    text-align: left;
}

.color__list ul li button i {
    width: 30px;
    height: 30px;
    display: block;
}

.color__list ul li button {
    display: flex;
    align-items: center;
    gap: 20px;
}

.Size__list ul li button.active,.color__list ul li button.active {
    border-bottom: 1px solid #F2F2F2;
    padding: 18px 30px;
    border-top: 1px solid #F2F2F2;
}
.filter__sidebar__content::-webkit-scrollbar{
    display: none;
}
/*============ filter__sidebar  End =============*/


/*============ Area Start =============*/
.border__sec{
    border-top: 1px solid #E8E8E8;
    border-bottom: 1px solid #E8E8E8;
    padding: 16px 0;
}
.sub__nav{}

.sub__nav ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.sub__nav ul li a {
    display: flex;
    align-items: center;
    gap: 20px;
}

.sub__nav ul li:last-child a {
    opacity: .5;
}
/*============ Area End =============*/


/*============productDetils Area Start =============*/
.productDetils-area {padding: 50px;font-size: var(--f18);}
.container {
}
.row {
}
.col-lg-6 {
}
.pdc__vertical__slider .swiper {height: 500px;padding: 50px;}

.pdc__vertical__slider .swiper-slide img {
    display: block;
    width: 100%;
    object-position: center;
    max-width: 500px;
    object-fit: contain;
}

.swiper-scrollbar {right: auto !important;;left: 0;}
.swiper-button-next {position: absolute;bottom: 0;left: 50%;right: auto;margin: unset;top: auto;}
.swiper-button-prev {left: 50%;top: 0;margin: 0;}
.product__info {display: flex;flex-direction: column;gap: 24px;}

.outOf__stock_form {
    text-align: center;
    margin-bottom: 20px;
}

.outOf__stock_form h4 {margin-bottom: 10px !important;}

.outOf__stock_form input {
    width: 100%;
    height: 70px;
    padding: 20px;
    font-size: var(--f18);
    border: 1px solid var(--borderColorD8);
}

.product__info .thm_btn {
    border-color: var(--borderColorD8);
    border-width: 1px;
    font-size: var(--f18);
}

.product__info .flex {
    align-items: center;
    justify-content: space-between;
}

.product__info .flex span {
    flex-shrink: 0;
}

.product__info h4 {
    font-size: var(--f20);
    margin: 0;
}

.product__info h4 b {
    border-bottom: 1px solid;
}
.flex {display: flex;}
.color-text {color: var(--thmColor);}
.size__dropdown {width: 120px;}
.size__dropdown .form-select {border-radius: 0;height: 50px;padding: 0 24px;font-size: var(--f18);}
.ptc__count{
    max-width: 120px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid var(--borderColorD8);
    width: 100%;
    height: 50px;
    padding: 0 10px;
}

.ptc__count button {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.ptc__count input {
    border: none;
    width: 48px;
    height: 100%;
    font-size: var(--f18);
    text-align: center;
}

.pdc__option ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
    padding: 24px 40px 30px;
}

.pdc__option ul button {
    opacity: .5;
}


.pdc_accordion .accordion-button {
    font-size: var(--f18);
}

/*============productDetils Area End =============*/


/*============ size__sideBar Start ========sideBar===== Product Page-SIZE GUIDE*/
.size__sideBar,.sideBar__right {max-width: 400px;height: 100vh;top: 0;right: 0;position: fixed;box-shadow: 0 0 10px;background: var(--white);z-index: -9;padding: 40px;transition: all .3s;opacity: 0;}

.size__sideBar.show,.myCard__sideBar.show {max-width: 800px;opacity: 1;z-index: 9;}

.size__sideBar__top {display: flex;align-items: center;justify-content: space-between;margin-bottom: var(--f48);}

.size__sideBar__top h4 {
    margin: 0;
}
.fltClose {
}
.size__sideBar__content {
}
.Size__blk {text-transform: capitalize;margin-bottom: var(--f40);}

.Size__table.sm {max-width: 460px;}

.Size__table {
    text-align: center;
}

.Size__table td {
    padding: 20px 30px;
}

.Size__blk h5 {
    text-transform: capitalize;
    margin-bottom: 1rem;
}
.Size__table.lg {overflow: auto;margin-right: -55px;}

.Size__table.lg table {
    min-width: 900px;
}
.table {
}
.table-bordered {
}
.Measur__blk {background: #F8F8F8;width: max-content;display: flex;padding: 30px 20px;padding-right: 0;text-transform: capitalize;gap: 40px;}

.Measur__blk p {
    font-size: 14px;
    opacity: .5;
}
/*============ size__sideBar End =============Product Page-SIZE GUIDE*/


/*============ myCard__sideBar Start =============*/
.myCard__sideBar {
}
.sideBar__panel {
}
.container {
}
.sidebar__top {
}
.fltClose {
}
.myCard__content {display: flex;flex-direction: column;justify-content: space-between;height: 85vh;}
.myCard__product {
}

.myCard__product > span {
    margin-bottom: 1rem;
    display: block;
}
.myCard__product__blk {display: flex;align-items: center;padding: 30px;gap: 30px;}
.myCard__product__img {max-width: 200px;}
.myCard__product__info {
}

.myCard__product__info b {
    margin-bottom: 8px;
    display: block;
}

.myCard__product__info .flex {
    justify-content: space-between;
}

.myCard__product__info h5 {
    font-size: 16px;
    margin: 0;
    margin-bottom: 8px;
}
.flex {
}
.myCard__product__price {
}

.myCard__product__price span {
    margin-bottom: 8px;
    display: block;
}

.myCard__product__price h6 {
    margin: 0;
    color: var(--thmColor);
}
.myCard__product__opt {display: flex;flex-direction: column;justify-content: end;align-items: end;margin-top: 10px;}

.myCard__product__opt a {
    opacity: .5;
    display: block;
    margin-bottom: 8px;
    transition: all .3s;
}

.myCard__product__opt a:hover {
    opacity: 1;
}
.myCard__product__total {padding: 30px;}
.total__list {
}

.total__list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.total__list li p {
    margin: 0;
}

.total__list li span {
    color: var(--thmColor);
}
.payMathd {display: flex;align-items: center;gap: 20px;}

.payMathd a {
    padding: 5px;
    width: 50%;
    border: 1px solid var(--borderColorD8);
}
.thm_btn {
}
/*============ myCard__sideBar End =============*/


/*============Checkout Area Start =============*/
.Checkout-area{
    padding: clamp(3.125rem, 3.185vw + 2.428rem, 6.25rem) 0;
}

.input__blk {
    margin-bottom: 1rem;
}

.input__blk input {
    width: 100%;
    height: 60px;
    padding: 0 20px;
    border: 1px solid var(--borderColorD8);
}

.Checkout__link {
    border: 1px solid var(--borderColorD8);
    display: block;
    padding: var(--f30);
    margin-bottom: var(--f30);
    font-size: var(--f24);
    position: relative;
}

.Checkout__link img {
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
}

.Checkout__link {}
.Checkout__left {padding-right: 30px;}

.Checkout__email {margin-bottom: var(--f30);}

.Checkout__email p {
    text-transform: capitalize;
}

.left-10 {
    position: relative;
    left: -10px;
}

.borderStyle {
    padding: var(--f30) var(--f40);
    border: 1px solid var(--black);
}

.Checkout__email label.form-check-label {
    font-size: 10px;
}

.form-check {
    display: flex;
    align-items: center;
    gap: 10px;
}
.Checkout__delivery{margin-bottom: var(--f30);}

.dv_btn {
    border-width: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
    text-transform: capitalize;
    flex-direction: column;
}
.Checkout__left {}
.order__summary {border: 1px solid var(--borderColorD8);padding: 30px;margin-bottom: var(--f30);}
.myCard__product__blk {
}
.border {
}
.myCard__product__img {
}
.myCard__product__info {
}
.flex {
}
.myCard__product__price {
}
.myCard__product__opt {
}
.total__list {
}
.thm_btn {
}
.w-100 {
}
.c-black {
}
.text-white {
}
.policy__list li a {border-bottom: 1px solid;text-transform: capitalize;}

ul.policy__list {
    display: flex;
    justify-content: space-evenly;
    padding: 0 40px;
}
.shop__address{margin: var(--f30) 0;padding: 30px;display: flex;align-items: center;justify-content: space-between;}

.shop__address li {
    margin-top: 10px;
    font-size: 15px;
}

.shop__address li i {
    margin-right: 4px;
}

.shop__address h5 {
    margin-bottom: 1rem;
}

.shop__address > i {
    width: 170px;
    height: 130px;
    flex-shrink: 0;
}

.shop__address > i img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pay__link {
    margin-bottom: var(--f40);
}

.pay__link a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--borderColorD8);
    height: 60px;
    text-transform: capitalize;
    padding: 0 var(--f30);
    margin-bottom: 20px;
}

.pay__link a.active {
    border-color: var(--black);
    margin: 0;
}

.pay__link a.active span {
    opacity: 1;
}

.pay__link a.active span i {
    background: var(--black);
}

.pay__link a span {
    opacity: .5;
    display: flex;
    align-items: center;
    gap: 10px;
}

.pay__link a span i {
    width: 15px;
    height: 15px;
    border: 1px solid #D2D2D2;
    flex-shrink: 0;
    display: inline-block;
    border-radius: 50%;
}

.Checkout__center{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.Checkout__Successful {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: var(--f20);
}

.Checkout__Successful a {
    max-width: 85%;
    margin: auto;
}

.Checkout__Successful i {
    display: block;
    margin-bottom: 30px;
}
/*============Checkout Area End =============*/


/*============ Area Start =============*/

/*============ Area End =============*/


/*============ Area Start =============*/

/*============ Area End =============*/


/*============ Area Start =============*/

/*============ Area End =============*/


/*============footer Area Start =============*/
.footer-area {text-transform: capitalize;padding: clamp(3.125rem, 3.125vw + 2.5rem, 6.25rem) 0;}

.footer__nav {display: flex;justify-content: space-between;}

.footer__nav ul h4 {
    text-transform: uppercase;
    margin-bottom: var(--f24);
}

.footer__nav ul a {
    display: block;
    margin-bottom: 10px;
    transition: all .3s;
}

.footer__nav ul a:hover {
    color: var(--thmColor);
}

.footer__nav ul {width: max-content;}

.footer__nav ul.address {
    max-width: 280px;
}

.footer__nav ul.address a {
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer__nav ul.address a i {
    flex-shrink: 0;
}
.social__link {font-size: large;display: flex;gap: 10px;}

.social__link a {
    width: 35px;
    height: 35px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    margin: 0 !important;
}

.social__link a:hover {scale: 1.11;}
.footer__btm {display: flex;align-items: center;justify-content: space-between;width: 85%;margin: auto;font-size: var(--f18);margin-top: clamp(3.125rem, 3.125vw + 2.5rem, 6.25rem);}

.footer__btm p {
    margin: 0;
}

.footer__btm ul {
    display: flex;
    align-items: center;
    gap: var(--f40);
}

.footer__btm ul li a:hover {
    color: var(--thmColor);
}
/*============footer Area End =============*/